
<!-- Masthead-->
<header class="masthead"
    style="background-image: url(assets/images/78728816_2572561166145988_4689077291832049664_o.png);">
    <div class="container">


        <div class="row">

            <div class="col-1"></div>
            <div class="col-7">
                <div class="masthead-heading text-bold">Time Studio</div>
            </div>
            <div class="col-4"></div>

            <div class="col-1"></div>
            <div class="col-7" style="border-left: 3px solid #05a7a7;padding-left: 15px;">
                <div class="masthead-subheading">Our mission is to ensure post-production. Our team <br>
                    takes care to guarantee you not only the best editing
                    and calibration but also the VFX.</div>
            </div>
            <div class="col-4"></div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-7">
                <button type="button"
                    style="color: #000000;width: 224px;border-radius: 37px;background-color: #05a7a7; border-color: #05a7a7"
                    class="btn btn-primary">Portfolio</button>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</header>


<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Check out our latest work</h2>

            <div class="container">
                <div class="row min-vh-100 align-items-center">
                    <div class="col-12" id="slider">
                        <div id="myCarousel" class="carousel slide shadow">
                            <!-- main slider carousel items -->
                            <div class="carousel-inner">
                                <div class="active carousel-item" data-slide-number="0">
                                    <img src="assets/images/1.png" class="img-fluid">
                                </div>
                                <div class="carousel-item" data-slide-number="1">
                                    <img src="assets/images/2.png" class="img-fluid">
                                </div>
                                <div class="carousel-item" data-slide-number="2">
                                    <img src="assets/images/3.png" class="img-fluid">
                                </div>
                                <div class="carousel-item" data-slide-number="3">
                                    <img src="assets/images/4.png" class="img-fluid">
                                </div>
                                <div class="carousel-item" data-slide-number="4">
                                    <img src="assets/images/5.png" class="img-fluid">
                                </div>
                                <div class="carousel-item" data-slide-number="5">
                                    <img src="assets/images/6.png" class="img-fluid">
                                </div>
                                <div class="carousel-item" data-slide-number="6">
                                    <img src="assets/images/7.png" class="img-fluid">
                                </div>
                                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>

                            </div>
                            <!-- main slider carousel nav controls -->


                            <ul class="carousel-indicators list-inline mx-auto border px-2">
                                <li class="list-inline-item active">
                                    <a id="carousel-selector-0" class="selected" data-slide-to="0"
                                        data-target="#myCarousel">
                                        <img src="assets/images/small/1.png" class="img-fluid">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
                                        <img src="assets/images/small/2.png" class="img-fluid">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
                                        <img src="assets/images/small/3.png" class="img-fluid">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-3" data-slide-to="3" data-target="#myCarousel">
                                        <img src="assets/images/small/4.png" class="img-fluid">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-4" data-slide-to="4" data-target="#myCarousel">
                                        <img src="assets/images/small/5.png" class="img-fluid">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-5" data-slide-to="5" data-target="#myCarousel">
                                        <img src="assets/images/small/6.png" class="img-fluid">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-6" data-slide-to="6" data-target="#myCarousel">
                                        <img src="assets/images/small/7.png" class="img-fluid">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!--/main slider carousel-->
            </div>



            <h2 class="py-5">How does it work ?</h2>


            <p>Check our team, their amazing work, for more informations feel free to contact us and register to get
                the ultimate
                desining experience</p>

        </div>

    </div>
</section>
