

    <!-- Masthead-->
    <header class="masthead" style="background-image: url(./assets/images/aboutus.png);">
        <div class="container">


            <div class="row">

                <div class="col-lg-5 col-sm-12">
                    <div class="masthead-heading text-bold">Time Studios</div>
                </div>
                <div class="col-lg-2 col-sm-12 d-none d-lg-block">
                    <img style="height: 200px;" src="assets/images/bar.png" alt="" srcset="">
                </div>
                <div class="col-lg-5  col-sm-12">
                    <h4 class="font-weight-normal">Don’t wait for the perfect time to start making changes to your life,
                        the time is now</h4>
                    <h4>Chris Gardner</h4>
                    <br><br><br><br><br>

                </div>

            </div>
        </div>
    </header>


    <section class="page-section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h5 style="color: #6DE3E3">Calendar</h5>
                </div>
            </div>


            <div class="row py-5">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div id="my-calendar"></div>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 text-center">
                    <button type="button"
                        style="font-size: 11px;padding: 10px;color: #ffffff;width: 20%;border-radius: 37px;background-color: #05a7a7; border-color: #05a7a7;"
                        class="btn btn-primary">Send Message</button>
                </div>
            </div>

        </div>
    </section>