    <!-- Masthead-->
    <header class="masthead" style="background-image: url(./assets/images/Groupe26.png);">
        <div class="container">


            <div class="row">

                <div class="col-lg-5 col-sm-12">
                    <div class="masthead-heading text-bold">Time Studio<br>Works</div>
                </div>
                <div class="col-lg-2 col-sm-12 d-none d-lg-block">
                    <img style="height: 200px;" src="assets/images/bar.png" alt="" srcset="">
                </div>
                <div class="col-lg-5  col-sm-12">
                    <h2>Time Studios Work</h2>
                    <p>My videos are meant to make people look at themselves at the end of the day, they all have a
                        message</p>
                    <h4>Joyner Lucas</h4>
                    <br>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"
                                style="border-top-left-radius: 25px;border-bottom-left-radius: 25px;    background-color: #ffffff;">
                                <img style="width: 20px" src="assets/images/search.png" alt="" srcset="">
                            </div>
                        </div>
                        <input style="border-bottom-right-radius: 25px;border-top-right-radius: 25px;" type="text"
                            class="form-control" id="inlineFormInputGroup" placeholder="">
                    </div>

                </div>

            </div>
        </div>
    </header>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <section class="page-section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 py-3">
                    <div class="shadow card" style="width: 18rem;">
                        <img style="cursor: pointer;border: none;background: transparent;padding: 0;" class="btn btn-primary video-btn card-img-top" data-toggle="modal"
                            data-src="https://player.vimeo.com/video/407375210?badge=0" data-target="#myModal"
                            src="assets/images/Groupe 40.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Safi - Chikh Fterich</h5>
                            <p style="font-size: 11px;" class="card-text">
                                Agency : 109 Communication Consulting Agency<br>
                                Production : Avant Garde Production<br>
                                Producer : Walid soussi<br>
                                Director : Amine Tlili<br>
                                DOP : Rabii Ben Dbebis<br>
                                Post-Production : Time Studio<br>
                                Editing & Coloring : Mathlouthi Mohamed<br>
                                Mix : Ayed Ghanim<br>
                                Music : Seif Kechrid<br>
                            </p>
                            <h6>Add Comment</h6>

                            <div class="row">
                                <div class="col-10">
                                    <textarea placeholder="Add Comment" style="border-radius: 25px;"
                                        class="shadow form-control" name="comment" id="comment" cols="2"
                                        rows="2"></textarea>
                                </div>
                                <div class="col-2">
                                    <img style="width: 30px; padding-top: 5px;" src="assets/images/Icon material-send.png"
                                        alt="" srcset="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 py-3">
                    <div class="shadow card" style="width: 18rem;">
                        <img style="cursor: pointer;border: none;background: transparent;padding: 0;"
                            class="btn btn-primary video-btn card-img-top" data-toggle="modal"
                            data-src="https://player.vimeo.com/video/407375210?badge=0" data-target="#myModal"
                            src="assets/images/Groupe 40.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Safi - Chikh Fterich</h5>
                            <p style="font-size: 11px;" class="card-text">
                                Agency : 109 Communication Consulting Agency<br>
                                Production : Avant Garde Production<br>
                                Producer : Walid soussi<br>
                                Director : Amine Tlili<br>
                                DOP : Rabii Ben Dbebis<br>
                                Post-Production : Time Studio<br>
                                Editing & Coloring : Mathlouthi Mohamed<br>
                                Mix : Ayed Ghanim<br>
                                Music : Seif Kechrid<br>
                            </p>
                            <h6>Add Comment</h6>
                
                            <div class="row">
                                <div class="col-10">
                                    <textarea placeholder="Add Comment" style="border-radius: 25px;" class="shadow form-control"
                                        name="comment" id="comment" cols="2" rows="2"></textarea>
                                </div>
                                <div class="col-2">
                                    <img style="width: 30px; padding-top: 5px;" src="assets/images/Icon material-send.png" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 py-3">
                    <div class="shadow card" style="width: 18rem;">
                        <img style="cursor: pointer;border: none;background: transparent;padding: 0;"
                            class="btn btn-primary video-btn card-img-top" data-toggle="modal"
                            data-src="https://player.vimeo.com/video/407375210?badge=0" data-target="#myModal"
                            src="assets/images/Groupe 40.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Safi - Chikh Fterich</h5>
                            <p style="font-size: 11px;" class="card-text">
                                Agency : 109 Communication Consulting Agency<br>
                                Production : Avant Garde Production<br>
                                Producer : Walid soussi<br>
                                Director : Amine Tlili<br>
                                DOP : Rabii Ben Dbebis<br>
                                Post-Production : Time Studio<br>
                                Editing & Coloring : Mathlouthi Mohamed<br>
                                Mix : Ayed Ghanim<br>
                                Music : Seif Kechrid<br>
                            </p>
                            <h6>Add Comment</h6>
                
                            <div class="row">
                                <div class="col-10">
                                    <textarea placeholder="Add Comment" style="border-radius: 25px;" class="shadow form-control"
                                        name="comment" id="comment" cols="2" rows="2"></textarea>
                                </div>
                                <div class="col-2">
                                    <img style="width: 30px; padding-top: 5px;" src="assets/images/Icon material-send.png" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 py-3">
                    <div class="shadow card" style="width: 18rem;">
                        <img style="cursor: pointer;border: none;background: transparent;padding: 0;"
                            class="btn btn-primary video-btn card-img-top" data-toggle="modal"
                            data-src="https://player.vimeo.com/video/407375210?badge=0" data-target="#myModal"
                            src="assets/images/Groupe 40.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Safi - Chikh Fterich</h5>
                            <p style="font-size: 11px;" class="card-text">
                                Agency : 109 Communication Consulting Agency<br>
                                Production : Avant Garde Production<br>
                                Producer : Walid soussi<br>
                                Director : Amine Tlili<br>
                                DOP : Rabii Ben Dbebis<br>
                                Post-Production : Time Studio<br>
                                Editing & Coloring : Mathlouthi Mohamed<br>
                                Mix : Ayed Ghanim<br>
                                Music : Seif Kechrid<br>
                            </p>
                            <h6>Add Comment</h6>
                
                            <div class="row">
                                <div class="col-10">
                                    <textarea placeholder="Add Comment" style="border-radius: 25px;" class="shadow form-control"
                                        name="comment" id="comment" cols="2" rows="2"></textarea>
                                </div>
                                <div class="col-2">
                                    <img style="width: 30px; padding-top: 5px;" src="assets/images/Icon material-send.png" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 py-3">
                    <div class="shadow card" style="width: 18rem;">
                        <img style="cursor: pointer;border: none;background: transparent;padding: 0;"
                            class="btn btn-primary video-btn card-img-top" data-toggle="modal"
                            data-src="https://player.vimeo.com/video/407375210?badge=0" data-target="#myModal"
                            src="assets/images/Groupe 40.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Safi - Chikh Fterich</h5>
                            <p style="font-size: 11px;" class="card-text">
                                Agency : 109 Communication Consulting Agency<br>
                                Production : Avant Garde Production<br>
                                Producer : Walid soussi<br>
                                Director : Amine Tlili<br>
                                DOP : Rabii Ben Dbebis<br>
                                Post-Production : Time Studio<br>
                                Editing & Coloring : Mathlouthi Mohamed<br>
                                Mix : Ayed Ghanim<br>
                                Music : Seif Kechrid<br>
                            </p>
                            <h6>Add Comment</h6>
                
                            <div class="row">
                                <div class="col-10">
                                    <textarea placeholder="Add Comment" style="border-radius: 25px;" class="shadow form-control"
                                        name="comment" id="comment" cols="2" rows="2"></textarea>
                                </div>
                                <div class="col-2">
                                    <img style="width: 30px; padding-top: 5px;" src="assets/images/Icon material-send.png" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 py-3">
                    <div class="shadow card" style="width: 18rem;">
                        <img style="cursor: pointer;border: none;background: transparent;padding: 0;"
                            class="btn btn-primary video-btn card-img-top" data-toggle="modal"
                            data-src="https://player.vimeo.com/video/407375210?badge=0" data-target="#myModal"
                            src="assets/images/Groupe 40.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Safi - Chikh Fterich</h5>
                            <p style="font-size: 11px;" class="card-text">
                                Agency : 109 Communication Consulting Agency<br>
                                Production : Avant Garde Production<br>
                                Producer : Walid soussi<br>
                                Director : Amine Tlili<br>
                                DOP : Rabii Ben Dbebis<br>
                                Post-Production : Time Studio<br>
                                Editing & Coloring : Mathlouthi Mohamed<br>
                                Mix : Ayed Ghanim<br>
                                Music : Seif Kechrid<br>
                            </p>
                            <h6>Add Comment</h6>
                
                            <div class="row">
                                <div class="col-10">
                                    <textarea placeholder="Add Comment" style="border-radius: 25px;" class="shadow form-control"
                                        name="comment" id="comment" cols="2" rows="2"></textarea>
                                </div>
                                <div class="col-2">
                                    <img style="width: 30px; padding-top: 5px;" src="assets/images/Icon material-send.png" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>

