    <!-- Masthead-->
    <header class="masthead" style="background-image: url(./assets/images/aboutus.png);">
        <div class="container">


            <div class="row">

                <div class="col-lg-5 col-sm-12">
                    <div class="masthead-heading text-bold">Our Propose</div>
                </div>
                <div class="col-lg-2 col-sm-12 d-none d-lg-block">
                    <img style="height: 200px;" src="assets/images/bar.png" alt="" srcset="">
                </div>
                <div class="col-lg-5  col-sm-12">
                    <h2>Time Studios Team</h2>
                    <p>Yet as a team we can pull together to do some incredible work</p>
                    <h4>Randy West</h4>
                    <br><br><br><br><br>

                </div>

            </div>
        </div>
    </header>


    <section class="page-section" id="services">
        <div class="container">
            <h1 class="pb-5">Our Team</h1>
            <div class="row">
                <div class="col-4 py-3">
                    <div style="-webkit-box-shadow: 7px 10px 41px -8px rgba(0,0,0,0.27);
-moz-box-shadow: 7px 10px 41px -8px rgba(0,0,0,0.27);
box-shadow: 7px 10px 41px -8px rgba(0,0,0,0.27);" class="card" style="width: 18rem;">
                        <div class="card-body text-center">
                            <img style="width: 100px" src="assets/images/i1.png" alt="" srcset="">
                            <h6 style="color: #05A7A7" class="pt-3 card-title">Mathlouthi Mohamed</h6>
                            <p class="card-text">General Manager</p>
                            <br>
                            <a href="#" class="btn btn-primary btn-sm"
                                style="background-color: #05A7A7; border-color: #05A7A7;"><img style="width: 20px"
                                    src="assets/images/plus.png" alt="" srcset=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-4 py-3">
                    <div style="-webkit-box-shadow: 7px 10px 41px -8px rgba(0,0,0,0.27);
                -moz-box-shadow: 7px 10px 41px -8px rgba(0,0,0,0.27);
                box-shadow: 7px 10px 41px -8px rgba(0,0,0,0.27);" class="card" style="width: 18rem;">
                        <div class="card-body text-center">
                            <img style="width: 100px" src="assets/images/i2.png" alt="" srcset="">
                            <h6 style="color: #05A7A7" class="pt-3 card-title">Ghani Hdhili</h6>
                            <p class="card-text">Production director</p>
                            <br>
                            <a href="#" class="btn btn-primary btn-sm" style="background-color: #05A7A7; border-color: #05A7A7;"><img
                                    style="width: 20px" src="assets/images/plus.png" alt="" srcset=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-4 py-3">
                    <div style="-webkit-box-shadow: 7px 10px 41px -8px rgba(0,0,0,0.27);
                -moz-box-shadow: 7px 10px 41px -8px rgba(0,0,0,0.27);
                box-shadow: 7px 10px 41px -8px rgba(0,0,0,0.27);" class="card" style="width: 18rem;">
                        <div class="card-body text-center">
                            <img style="width: 100px" src="assets/images/i3.png" alt="" srcset="">
                            <h6 style="color: #05A7A7" class="pt-3 card-title">Eya Mathlouthi</h6>
                            <p class="card-text">Production assistant</p>
                            <br>
                            <a href="#" class="btn btn-primary btn-sm" style="background-color: #05A7A7; border-color: #05A7A7;"><img
                                    style="width: 20px" src="assets/images/plus.png" alt="" srcset=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

