<div class="icon-bar d-none d-lg-block">
    <a href="#" class="facebook"><img class="shadow-img" src="assets/images/facebook.png" alt="" srcset=""></a>
    <a href="#" class="twitter"><img class="shadow-img" src="assets/images/instagram-sketched.png" alt="" srcset=""></a>
    <a href="#" class="google"><img class="shadow-img" src="assets/images/twitter.png" alt="" srcset=""></a>
</div>



<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>