<section class="footer">

    <div class="container">
        <div class="row ">
            <div class="col-6 text-left">
                <img src="images/logo-blanc.png" alt="" />
                <h1>Time Studio</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam laudantium maxime doloribus
                    dicta voluptas
                    optio inventore quo tenetur! Ipsa accusantium laudantium facilis. Sit excepturi ratione maiores
                    quo
                    recusandae facilis nulla!</p>


                <a href="#" class="facebook px-2"><img class="shadow-img" src="images/facebook.png" alt=""
                        srcset=""></a>
                <a href="#" class="twitter  px-2"><img class="shadow-img" src="images/instagram-sketched.png" alt=""
                        srcset=""></a>
                <a href="#" class="google px-2"><img class="shadow-img" src="images/twitter.png" alt=""
                        srcset=""></a>
            </div>
            <div class="col-6 text-left">
                <h2 class="pt-2 pb-3">Newsletter</h2>
                <h5 class="font-weight-normal">Sign Up</h5>
                <br>
                <div class="row">
                    <div class="col-8"><input placeholder="Your Email"
                            style="width: 100%; border-radius: 50px !important;" class="form-control" type="text"
                            name="newsletter" id="newsletter"></div>
                    <div class="col-4"><button type="button"
                            style="font-size: 11px;padding: 10px;color: #ffffff;width: 100%;border-radius: 37px;background-color: #05a7a7; border-color: #05a7a7;"
                            class="btn btn-primary">Subscribe</button></div>
                </div>
            </div>
        </div>
    </div>
</section>