<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="assets/images/logo-blanc.png" alt="" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu

        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item"><a class="nav-link" routerLink="/">HOME</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/about-us">ABOUT US</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/portfolio">PORTFOLIO</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contact">CONTACT</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/meeting">MEETING</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="text-white dropdown-item" style="text-transform: none;text-align: center;"
                            data-toggle="modal" data-target="#exampleModalsignin">Sign In</a>
                        <div class="dropdown-divider"></div>
                        <a class="text-white dropdown-item" style="text-transform: none;text-align: center;"
                            data-toggle="modal" data-target="#exampleModal">Sign Up</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <!-- sign up modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class=" px-4 modal-title" id="exampleModalLabel">Create An Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-5">
                    <p>You have an account? <a onclick="openSignIn()" style="color:#00CDDC">Sign In</a></p>

                    <div class="row vertical-divider ">
                        <div class="col-6">
                            <form>
                                <div class="row py-2">
                                    <div class="col">
                                        <input style="border-radius: 50px !important;" type="text" class="form-control"
                                            placeholder="First name">
                                    </div>
                                    <div class="col">
                                        <input style="border-radius: 50px !important;" type="text" class="form-control"
                                            placeholder="Last name">
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col">
                                        <input style="border-radius: 50px !important;" type="email" class="form-control"
                                            placeholder="Email">
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col">
                                        <input style="border-radius: 50px !important;" type="password"
                                            class="form-control" placeholder="Password">
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col">
                                        <button type="button"
                                            style="color: white;width: 100%;border-radius: 37px;background-color: #05a7a7; border-color: #05a7a7"
                                            class="btn btn-primary">Sign Up</button>
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col">
                                        <div class="separator">Or Sign With</div>
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col text-center">
                                        <a href="#" class="facebook px-3"><img style="width: 50px"
                                                src="assets/images/facebook-b.png" alt="" srcset=""></a>
                                        <a href="#" class="twitter  px-3"><img style="width: 50px"
                                                src="assets/images/instagram-sketched-b.png" alt="" srcset=""></a>
                                        <a href="#" class="google px-3"><img style="width: 50px"
                                                src="assets/images/twitter-b.png" alt="" srcset=""></a>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="col-6 text-center">
                            <img class="mx-5 pb-5" style="height: 300px" src="assets/images/lampe.png" alt="" srcset="">
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- sign in modal -->
    <div class="modal fade" id="exampleModalsignin" tabindex="-1" role="dialog" aria-labelledby="exampleModalsignin"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class=" px-4 modal-title" id="exampleModalLabel">Sign in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body px-5">
                    <p>You do not have an account? <a onclick="openSignUp()" style="color:#00CDDC">Sign Up</a></p>

                    <div class="row vertical-divider ">
                        <div class="col-6">
                            <form>

                                <div class="row py-2">
                                    <div class="col">
                                        <input style="border-radius: 50px !important;" type="email" class="form-control"
                                            placeholder="Username or Email">
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col">
                                        <input style="border-radius: 50px !important;" type="password"
                                            class="form-control" placeholder="Password">
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col">
                                        <button type="button"
                                            style="color: white;width: 100%;border-radius: 37px;background-color: #05a7a7; border-color: #05a7a7"
                                            class="btn btn-primary">Sign In</button>
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col">
                                        <div class="separator">Or Sign With</div>
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col text-center">
                                        <a href="#" class="facebook px-3"><img style="width: 50px"
                                                src="assets/images/facebook-b.png" alt="" srcset=""></a>
                                        <a href="#" class="twitter  px-3"><img style="width: 50px"
                                                src="assets/images/instagram-sketched-b.png" alt="" srcset=""></a>
                                        <a href="#" class="google px-3"><img style="width: 50px"
                                                src="assets/images/twitter-b.png" alt="" srcset=""></a>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="col-6 text-center">
                            <img class="mx-5 pb-5" style="height: 300px" src="assets/images/lampe.png" alt="" srcset="">
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


