    <!-- Masthead-->
    <header class="masthead" style="background-image: url(./assets/images/78728816_2572561166145988_4689077291832049664_o.png);">
        <div class="container">


            <div class="row">

                <div class="col-12 text-center">
                    <div class="masthead-heading text-bold">Contact Us</div>
                </div>
            </div>
        </div>
    </header>


    <section class="page-section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 style="color: #6DE3E3">Get In Touch With Us !</h3>
                </div>
            </div>
            <div class="row py-5 vertical-divider">
                <div class="col-4 text-center">
                    <img class="py-3" src="assets/images/Icon metro-mobile.png" alt="" srcset="">
                    <h5 class="py-2">Phone</h5>
                    <p class="py-2">+216 20 120 078</p>
                </div>
                <div class="col-4 text-center">
                    <img class="py-3" src="assets/images/Icon material-location-on.png" alt="" srcset="">
                    <h5 class="py-2">Location</h5>
                    <p class="py-2">Rue Omar Ibn Cheikh, Cite Hokkem, la Marsa 2046 Tunis, Tunisie</p>
                </div>
                <div class="col-4 text-center">
                    <img class="py-3" src="assets/images/Trace.png" alt="" srcset="">
                    <h5 class="py-2">E-mail</h5>
                    <p class="py-2">med.haythem.hammami@gmail.com</p>
                </div>
            </div>


            <div class="row py-5">
                <div class="col-12 text-center">
                    <h5>If you got any question ?</h5>
                    <h5>Please do not hesitate to send us a message</h5>
                    <br>
                    <input style="border-radius: 20px;" type="text" name="name" id="name" class="form-control shadow" placeholder="Your name">
                    <br>
                    <input style="border-radius: 20px;" type="email" name="name" id="email" class="form-control shadow" placeholder="E-mail">
                    <br>
                    <input style="border-radius: 20px;" type="text" name="name" id="subject" class="form-control shadow" placeholder="Subject">
                    <br>
                    <textarea style="border-radius: 20px;" class="shadow form-control" name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                    <br>
                    <button type="button"
                        style="font-size: 11px;padding: 10px;color: #ffffff;width: 20%;border-radius: 37px;background-color: #05a7a7; border-color: #05a7a7;"
                        class="btn btn-primary">Send Message</button>
                </div>
            </div>
        </div>
    </section>

